---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Abel N. Nieva | Senior Frontend Engineer with 9+ years of expertise"
>
  <main>
    <Hero />
  </main>
</Layout>
