---
import AvatarImage from "../../public/assets/notes/authors/abelnnieva-128x128.jpg";

interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<div class={`rounded-full ${className}`}>
  <img
    src={AvatarImage.src}
    alt="Avatar for Abel N. Nieva"
    class={`size-16 rounded-full`}
  />
</div>
