---
interface Props {
  color: "red" | "green";
  className?: string;
}

const { color, className = "" } = Astro.props;
---

<div
  class:list={[
    "p-1",
    "rounded-full",
    {
      "bg-green-400/10": color === "green",
      "text-green-400": color === "green",
    },
    {
      "bg-red-500/10": color === "red",
      "text-red-500": color === "red",
    },
    className,
  ]}
>
  <div class="bg-current rounded-full size-2"></div>
</div>
