---
import type { NavigationItem } from "../types/index";

interface Props {
  navigation: NavigationItem[];
  copyright: string;
}

const { pathname } = Astro.url;
const { copyright, navigation } = Astro.props;
---

<footer
  class="flex flex-col md:flex-row gap-6 justify-between items-center max-w-screen-lg mx-auto mt-12 pt-8 pb-8 md:pb-12 px-4"
>
  <ul class="font-medium flex flex-wrap justify-center gap-4">
    {
      navigation.map((navigationItem) => (
        <li>
          <a
            href={navigationItem.href}
            class="block dark:text-white text-sm text-gray-900 hover:text-primary-700 dark:hover:text-primary-500"
            aria-label={navigationItem.label}
            aria-current={pathname === navigationItem.href ? "page" : undefined}
          >
            {navigationItem.text}
          </a>
        </li>
      ))
    }
  </ul>
  <p class="text-sm text-gray-400 dark:text-gray-300" set:html={copyright} />
</footer>
