---
import Button from "./Button.astro";
import Container from "./Container.astro";
import Icon from "./Icon.astro";
import ThemeToggle from "./ThemeToggle.astro";
import type { NavigationItem } from "../types/index";

interface Props {
  brand: string;
  navigation: NavigationItem[];
}

const { pathname } = Astro.url;

const { brand, navigation } = Astro.props;
---

<header
  class="fixed z-50 top-0 left-0 right-0 border-b border-gray-200 dark:border-gray-600 bg-white dark:bg-gray-900"
>
  <Container class="flex items-center justify-between h-14">
    <a href="/">
      <h1
        class="self-center text-lg/none md:text-xl/none font-bold whitespace-nowrap text-gray-900 dark:text-white"
      >
        {brand}
      </h1>
    </a>
    <div class="flex items-center gap-3 md:gap-6">
      <Button
        as="button"
        color="secondary"
        size="sm"
        type="button"
        class="md:hidden"
        id="dropdownButton"
        data-dropdown-toggle="dropdown"
        data-dropdown-placement="bottom"
        data-dropdown-offset-distance="8"
        data-dropdown-offset-skidding="-48"
      >
        Menu
        <Icon name="chevron-down" size="sm" />
      </Button>
      <div
        class="hidden md:block md:!relative md:!transform-none"
        id="dropdown"
      >
        <nav
          class:list={[
            "flex flex-col md:flex-row md:gap-6 py-2 md:py-0",
            "rounded-lg md:rounded-none border border-gray-200 dark:border-gray-600 md:border-none w-44 md:w-auto",
            "bg-white md:bg-inherit dark:bg-gray-700 md:dark:bg-inherit",
          ]}
          aria-labelledby="dropdownButton"
        >
          {
            navigation.map((navigationItem) => {
              const isCurrent = pathname === navigationItem.href;
              return (
                <a
                  href={navigationItem.href}
                  class:list={[
                    "text-base md:text-sm md:font-medium text-gray-900 dark:text-white md:hover:text-primary-700 md:dark:hover:text-primary-500",
                    "px-4 py-2 md:px-0 md:py-0 hover:bg-gray-100 md:hover:bg-inherit dark:hover:bg-gray-600 md:dark:hover:bg-inherit dark:hover:text-white",
                    {
                      "md:text-primary-700 md:dark:text-primary-500": isCurrent,
                    },
                  ]}
                  aria-label={navigationItem.label}
                  aria-current={isCurrent ? "page" : null}
                >
                  {navigationItem.text}
                </a>
              );
            })
          }
        </nav>
      </div>
      <ThemeToggle />
    </div>
  </Container>
</header>
