---
interface Props {
  size?: keyof typeof sizeClasses;
  class?: string;
}

const { size = "base", class: className } = Astro.props;

const sizeClasses = {
  sm: "gap-2",
  base: "gap-4",
};

const classes = [
  "before:content-['•'] first:before:hidden flex items-center",
  sizeClasses[size as keyof typeof sizeClasses],
  className,
];
---

<li class:list={classes}>
  <slot />
</li>
