---
interface Props {
  time: number;
  class?: string;
}

const { time, class: className } = Astro.props;
---

<div class:list={[className]}>
  <span itemprop="timeRequired">{time} min read</span>
  <meta itemprop="timeRequired" content={`PT${time}M`} hidden />
</div>
