---
interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props;
---

<div class="pb-6 md:pb-10">
  <h2
    class="mb-3 text-2xl/none md:text-3xl/none font-bold text-slate-900 dark:text-white"
  >
    {title}
  </h2>
  <p class="text-base text-slate-500 dark:text-slate-400">
    {text}
  </p>
</div>
