---
import Heading from "./Heading.astro";
import Text from "./Text.astro";

interface Props {
  title: string;
  text?: string;
}

const { title, text } = Astro.props;
---

<div class="pb-6 md:pb-12 flex flex-col gap-3">
  <Heading as="h3" size="xl">
    {title}
  </Heading>
  {
    text && (
      <Text as="p" color="gray.500">
        {text}
      </Text>
    )
  }
</div>
