---
interface Props {
  title: string;
  description: string;
  anchorId: string;
}

import Icon from "./Icon.astro";

const { title, description, anchorId } = Astro.props;
---

<div class="antialiased">
  <a class="group inline-flex items-center gap-3" href={`#${anchorId}`}>
    <h2
      class="text-2xl sm:text-3xl md:text-4xl font-bold leading-none tracking-tight text-gray-900 dark:text-white"
    >
      {title}
    </h2>
    <Icon
      name="hashtag"
      class="stroke-gray-300 dark:stroke-gray-400 group-hover:stroke-primary-600"
    />
  </a>
  <p
    class="mt-4 text-base sm:text-lg md:text-xl text-gray-500 dark:text-gray-400"
  >
    {description}
  </p>
</div>
