---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section
  class:list={[
    "border border-gray-200 dark:border-gray-600 rounded-lg",
    className,
  ]}
>
  <slot />
</section>
