---
interface Props {
  title: string;
  className?: string;
}

const { title, className = "" } = Astro.props;
---

<h4
  class={`text-base/none font-bold uppercase px-4 py-3 text-slate-900 dark:text-white ${className}`}
>
  {title}
</h4>
