---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<h4
  class:list={[
    "text-base/none font-bold uppercase px-4 py-3 text-gray-900 dark:text-white",
    className,
  ]}
>
  {title}
</h4>
