---
import Logo from "./Logo.astro";
import type { Image } from "../types";

interface Props {
  name: string;
  image: Image;
}

const { name, image } = Astro.props;
---

<div
  class="flex gap-1 items-center text-xs/[1.25rem] text-slate-900 dark:text-white"
>
  <Logo name={name} image={image} className="h-3" />
  {name}
</div>
