---
import Logo from "@/components/Logo.astro";
import type { Image } from "@/types";

interface Props {
  name: string;
  image: Image;
  position: number;
}

const { name, image, position } = Astro.props;
---

<li
  class="flex gap-1 items-center text-xs/[1.25rem] text-gray-900 dark:text-white"
  itemprop="itemListElement"
  itemscope
  itemtype="https://schema.org/ListItem"
>
  <meta itemprop="position" content={`${position}`} />
  <Logo name={name} image={image} size="2xs" />
  <span itemprop="name">{name}</span>
</li>
